@model IEnumerable<SNC2017.Models.MotivoCierreCaso>

<div class="card">
    <div class="card-header" data-background-color="green" style="display: flex">
        <h4 class="title">Motivos de cierre casos</h4>
        <a href=@Url.Action("Create","MotivoCierreCasos") class="btn btn-success btn-sm sombrabtncreate btnadd">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>

    <div class="card-content">
        <div id="example-tabs">
            <h3>Todas</h3>
            <section>
                <table class="datatablebase table table-condensed table-hover" id="table" style="width: 100%">
                    <thead class="text-primary">
                        <tr class="text-center">
                            <th class="text-left" style="font-weight: bold">
                                @Html.DisplayNameFor(model => model.Descripcion)
                            </th>
                           
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="showhim">
                                <td>
                                    @Html.DisplayFor(modelItem => item.Descripcion)
                                </td>
                              

                                <td class="text-center " style="font-size: large">

                                    <div class="showme">

                                        <a href="@Url.Action("Edit", "MotivoCierreCasos", new {id = item.IdMotivoCierreCaso})" title="Editar" data-placement="left" data-toggle="tooltip"><span class="glyphicon glyphicon-edit"></span></a>&nbsp;
                                    </div>



                                </td>
                            </tr>
                        }
                    </tbody>
                </table>




            </section>

        </div>

    </div>


</div>