<div class="bs-callout bs-callout-success">
    <div class="form-group label-floating">
        <label class="control-label">Período pago en efectivo (*)</label>
        <select class="form-control" name="PeriodoPagoEfectivoId">
            @{
                foreach (var tpe in @ViewBag.tipoPeriodoEfectivo)
                {
                    <option value="@tpe.PeriodoPagoEfectivoId">@tpe.Nombre</option>
                }
            }

        </select>
    </div>
</div>
